In [171]:
import pandas as pd 
import numpy as np

In [172]:
n = np.array([2, 3, 5, 7])
print(n)

[2 3 5 7]

In [173]:
def mnk(x_, y_):
    n = len(x_)
    m = (np.sum((x - np.mean(x_))*(y_ - np.mean(y_)))) / np.sum((x_ - np.mean(x_))**2)
    c = np.mean(y_) - m*np.mean(x_)
    return m, c

In [174]:
# Пример данных для подгонки
x = np.array([1, 2, 3, 4, 5])
y = np.array([2, 3, 5, 4, 6])
m, c = mnk(x, y)
print(f"Найденные коэффициенты линейной функции: m = {m}, c = {c}")

Найденные коэффициенты линейной функции: m = 0.9, c = 1.2999999999999998

In [175]:
data = {
    'Name': ['Petr', 'Anna', 'Maria', 'Alexey', 'Nina'],
    'City': ['Moscow', 'Novosibirsk', 'Samara', 'Sochi', 'Irkutsk'],
    'Age': [41, 28, 0, 22, 33.5]
}

df = pd.DataFrame(data)
df

# Удаление строк с пропусками
df.dropna(inplace=True)

# Удаление дубликатов
df.drop_duplicates(inplace=True)

# Замена нулевых значений средними по столбцу без учета строки с нулевым значением
for column in df.columns:
    if df[column].dtype != 'object':
        df[column] = df[column].replace(0, np.nan)
        df[column].fillna(df[column].mean(skipna=True), inplace=True)

# Вывод итогового DataFrame df
df

     Name         City     Age
0    Petr       Moscow  41.000
1    Anna  Novosibirsk  28.000
2   Maria       Samara  31.125
3  Alexey        Sochi  22.000
4    Nina      Irkutsk  33.500

In [176]:
data = pd.read_csv('datasets/Electric_Car.csv')
data

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

In [177]:
data2 = data.groupby('Brand')['PriceEuro'].mean().reset_index()
data2

          Brand      PriceEuro
0       Aiways    36057.000000
1         Audi    80593.666667
2          BMW    53145.750000
3        Byton    59833.333333
4        CUPRA    45000.000000
5      Citroen    40000.000000
6           DS    37422.000000
7         Fiat    36400.000000
8         Ford    54568.750000
9        Honda    34459.000000
10     Hyundai    36408.333333
11      Jaguar    75351.000000
12         Kia    35862.400000
13       Lexus    50000.000000
14   Lightyear   149000.000000
15       Lucid   105000.000000
16          MG    30000.000000
17       Mazda    32646.000000
18    Mercedes    61705.000000
19        Mini    31681.000000
20      Nissan    45902.125000
21        Opel    35350.666667
22     Peugeot    32021.500000
23    Polestar    56440.000000
24     Porsche   138265.800000
25     Renault    31268.200000
26        SEAT    20129.000000
27       Skoda    38255.666667
28       Smart    22660.666667
29        Sono    25500.000000
30       Tesla    80272.307692
31  Volkswagen    34602.375000
32       Volvo    60437.000000

In [178]:
data2.to_csv('datasets/Result_Electric_Car.csv', index=False)

In [179]:
data3 = data[(data['PriceEuro'] > 50000) & (data['TopSpeed_KmH'] > 200)]
data3.reset_index(drop=True, inplace=True)
data3

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
2,Lucid,Air,2.8,250,610,180,620,Yes,AWD,Type 2 CCS,Sedan,F,5,105000
3,Porsche,Taycan Turbo S,2.8,260,375,223,780,Yes,AWD,Type 2 CCS,Sedan,F,4,180781
4,Tesla,Model Y Long Range Dual Motor,5.1,217,425,171,930,Yes,AWD,Type 2 CCS,SUV,D,7,58620
5,Audi,e-tron GT,3.5,240,425,197,850,Yes,AWD,Type 2 CCS,Sedan,F,4,125000
6,Tesla,Model 3 Long Range Performance,3.4,261,435,167,910,Yes,AWD,Type 2 CCS,Sedan,D,5,61480
7,Tesla,Cybertruck Tri Motor,3.0,210,750,267,710,Yes,AWD,Type 2 CCS,Pickup,N,6,75000
8,Tesla,Model S Long Range,3.8,250,515,184,560,Yes,AWD,Type 2,Liftback,F,5,79990
9,Porsche,Taycan 4S,4.0,250,365,195,730,Yes,AWD,Type 2 CCS,Sedan,F,4,102945
10,Tesla,Roadster,2.1,410,970,206,920,Yes,AWD,Type 2 CCS,Cabrio,S,4,215000
11,Tesla,Model X Long Range,4.6,250,450,211,490,Yes,AWD,Type 2,SUV,F,7,85990
12,Tesla,Model S Performance,2.5,261,505,188,550,Yes,AWD,Type 2,Liftback,F,5,96990
13,Tesla,Model Y Long Range Performance,3.7,241,410,177,900,Yes,AWD,Type 2 CCS,SUV,D,7,65620
14,Porsche,Taycan 4S Plus,4.0,250,425,197,890,Yes,AWD,Type 2 CCS,Sedan,F,4,109302
15,Porsche,Taycan Cross Turismo,3.5,250,385,217,770,Yes,AWD,Type 2 CCS,Station,F,4,150000
16,Porsche,Taycan Turbo,3.2,260,390,215,810,Yes,AWD,Type 2 CCS,Sedan,F,4,148301
17,Tesla,Model X Performance,2.8,250,440,216,480,Yes,AWD,Type 2,SUV,F,7,102990
18,Audi,e-tron S 55 quattro,4.5,210,320,270,510,Yes,AWD,Type 2 CCS,SUV,E,5,93800
19,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050

In [180]:
data3.to_csv('datasets/Result_2_Cars_speed.csv', index=False)

In [181]:
EC = pd.read_csv('datasets/EC.csv', sep=',')
EVP = pd.read_csv('datasets/EVP.csv', sep=',')

# Выполнение операции слияния таблиц по столбцу Brand
integral = pd.merge(EC, EVP, on='Brand')

# Получение описательных статистик для полученной таблицы integral с помощью функции describe()
describe_pd = integral.describe()

# Вывод описательных статистик
describe_pd

,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,Seats,PriceEuro,ZIP Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN